extends layouts/layout

block content
  .card.w-100(style="min-width: 25em")
    .card-header
      h1 Contact List
    .card-body
      .table-responsive
        table.table
          tr
            th Name
            th Phone
            th Email
            th Address
            th Contact
          each contact in contacts
            tr
              td= `${contact.first} ${contact.last}`
              td= contact.phone
              td= contact.email
              td= `${contact.street} ${contact.city} ${contact.state} ${contact.zip} ${contact.country}`
              td
                section
                  input(id=contact.contact_by_phone, type="checkbox", disabled, checked=contact_by_phone) 
                  label(for=contact.contact_by_phone) Phone
                section
                  input(id=contact.contact_by_email, type="checkbox", disabled, checked=contact.contact_by_email) 
                  label(for=contact.contact_by_email) Email
                section
                  input(id=contact.contact_by_mail, type="checkbox", disabled, checked=contact.contact_by_mail) 
                  label(for=contact.contact_by_mail) Mail
              td
                section
                  a(href=`/:${contact.id}`) View
                section
                  a(href=`/:${contact.id}/edit`) Edit
                section
                  a(href=`/:${contact.id}/delete`) Delete
      a.btn.btn-primary.w-100(href='/create') Create a new contact
