extends layouts/layout

block content
  h1 Contact List
  a(href='/create') Create a new contact
  table
    tr
      th Name
      th Phone
      th Email
      th Address
      th Contact
    each contact in contacts
      tr
        td= `${contact.first} ${contact.last}`
        td= contact.phone
        td= contact.email
        td= `${contact.street} ${contact.city} ${contact.state} ${contact.zip} ${contact.country}`
        td
          section
            if contact.contact_by_phone
              input(id=contact.contact_by_phone, type="checkbox", disabled=1, checked) 
            else
              input(id=contact.contact_by_phone, type="checkbox", disabled=1)
            label(for=contact.contact_by_phone) Phone
          section
          if contact.contact_by_email
            input(id=contact.contact_by_email, type="checkbox", disabled=1, checked) 
          else
            input(id=contact.contact_by_email, type="checkbox", disabled=1) 
          label(for=contact.contact_by_email) Email
          section
          if contact.contact_by_mail
            input(id=contact.contact_by_mail, type="checkbox", disabled=1, checked) 
          else
            input(id=contact.contact_by_mail, type="checkbox", disabled=1) 
          label(for=contact.contact_by_mail) Mail
        td
          section
            a(href=`/:${contact.id}`) View
          section
            a(href=`/:${contact.id}/edit`) Edit
          section
            a(href=`/:${contact.id}/delete`) Delete
